em {
  font-style: normal;
}
li {
  list-style: none;
}

/*--- 标题 ---*/
*
  // 基础标题
  .fn-tl_bs_1 {
  font-size: 24px;
}

.fn-tl_bs_2 {
  font-size: 20px;
}

.fn-tl_bs_3 {
  font-size: 16px;
}

.fn-tl_bs_4 {
  font-size: 14px;
  color: #666;
}

.fn-tl_bs_6 {
  margin: 10px 0;
  padding: 1em;
  color: #333;
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  line-height: 26px;
  white-space: normal;
  counter-reset: line;

  code {
    background-color: unset !important;

    &:before {
      text-align: right;
      counter-increment: line;
      content: counter(line);
      display: inline;
      margin-right: 12px;
      color: rgba(0, 0, 0, 0.15);
    }
  }
}

.fn-tl_bs_7 {
  display: flex;
  justify-content: center;
  padding: 10px 0;

  & > em {
    border-top: 1px solid #ff6600;
  }
}

.fn-tl_bs_8 {
  display: flex;
  justify-content: center;
  padding: 10px 0;

  & > em {
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 17px;
    line-height: 1.8;
    letter-spacing: 4px;
    padding: 0px;
    text-align: center;
    text-shadow: rgb(1 177 164) 1px -1px, rgb(1 177 164) 1px 1px,
      rgb(1 177 164) -1px 1px, rgb(1 177 164) -1px -1px, rgb(1 177 164) 1px 0px,
      rgb(1 177 164) 0px 1px, rgb(1 177 164) -1px 0px, rgb(1 177 164) 0px -1px;
  }
}

// 框线标题
.fn-tl_li_1 {
  padding: 20px;

  & > em {
    background-color: rgba(186, 215, 251, 0.25);
    padding: 7px 18px;
    display: inline-block;
    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;
      background: #333;
      position: absolute;
    }

    &:before {
      height: 1px;
      width: calc(100% + 8px);
      top: -8px;
      left: -8px;
    }

    &:after {
      height: calc(100% + 8px);
      width: 1px;
      top: -8px;
      left: -8px;
    }
  }
}

.fn-tl_li_2 {
  display: flex;
  align-items: center;
  padding: 0 20px;

  & > .m-lt {
    display: flex;
    width: 35%;
    margin: 15px 0;
    color: #fff;
    align-items: center;

    em {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #6667ab;
      padding: 0 20px;
      font-size: 12px;

      &:after {
        position: absolute;
        right: -40px;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left: 20px solid #6667ab;
      }
    }
  }

  & > .m-rt {
    height: 1px;
    flex: 1;
    background: #6667ab;
  }
}

.fn-tl_li_10 {
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    height: 50px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &::before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: purple;
      display: block;
      margin-right: 30px;
    }

    &::after {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: yellow;
      display: block;
      margin-left: 30px;
    }
  }
}

.fn-tl_li_11 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  & > .m-lt,
  & > .m-rt {
    background-color: #f00;
    color: white;
    padding: 5px 10px 5px 10px;
    position: relative;
    margin-right: 20px;
  }

  & > .m-lt {
    &::before {
      content: '';
      width: 120%;
      height: 2px;
      background-color: #f00;
      display: block;
      position: absolute;
      top: 15px;
      left: -115px;
    }
  }

  & > .m-rt {
    &::before {
      content: '';
      width: 120%;
      height: 2px;
      background-color: #f00;
      display: block;
      position: absolute;
      top: 15px;
      right: -115px;
    }
  }
}

.fn-tl_li_12 {
  & > .m-tl {
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;

    & > div {
      border: 1px solid #b3c5bc;
      color: #b3c5bc;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      text-align: center;
    }

    &::after {
      width: 50%;
      border-top: 3px solid #b3c5bc;
      content: '';
    }
  }

  & > .m-ft {
    color: #b3c5bc;
    text-align: center;
  }
}

.fn-tl_li_13 {
  position: relative;

  & > .m-ct {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    color: #7aaaa3;
    padding: 10px;

    &::before {
      mix-blend-mode: multiply;
      background-color: #f3fbf0;
      content: '';
      display: block;
      height: 40px;
      width: 10%;
      position: absolute;
      top: 5px;
    }

    &::after {
      width: 40%;
      border-bottom: 1px solid #7aaaa3;
      height: 2px;
      content: '';
      display: block;
      margin-top: 5px;
    }
  }
}

.fn-tl_li_14 {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & > i {
    font-style: normal;
    width: 45px;
    height: 45px;
    border-radius: 0% 40% 0% 0%;
    background-color: #f00;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: large;
    margin-right: 10px;
  }

  & > .m-bd {
    padding: 10px;
    color: #f00;
    font-weight: bold;
    border-bottom: 3px solid #f3d174;
    font-size: large;
  }
}
// 图片标题
.fn-tl_im_1 {
  margin: 30px 20px;
  background-color: #f0fbff;
  padding: 15px;
  display: flex;
  border-radius: 10px;
  position: relative;

  & > img {
    width: 100px;
    height: 25px;
    transform: rotate(-35deg);
    position: absolute;
    left: -30px;
    top: 5px;
  }

  & > div {
    flex: 1;
  }

  .m-lt {
    display: flex;
    justify-content: center;
    border-right: 1px solid rgb(206, 234, 255);
    padding-right: 20px;

    & > em {
      text-align: center;
      font-size: 175%;
      font-weight: bold;
      color: rgb(255, 154, 155);
      line-height: 1.3;
      letter-spacing: 2px;
    }
  }

  .m-rt {
    display: flex;
    flex-direction: column;
    padding-left: 20px;

    & > .m-tp {
      display: flex;
      justify-content: center;

      em {
        display: flex;
        justify-content: center;
        flex: 2;
        font-size: 15px;
        color: rgb(122, 129, 255);
      }

      img {
        width: 40px;
        margin-right: 20px;
      }
    }
    & > .m-bt {
      display: inline-block;
      margin: 5px 0 0 0;
      text-align: center;
      background-color: rgb(206, 234, 255);
      color: #fff;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold;
      padding: 2px 10px;
    }
  }
}

.fn-tl_im_10 {
  & > .m-bd {
    font-size: xx-large;
    font-weight: bold;
    position: relative;
    padding: 30px 0 10px 30px;

    &::before {
      content: 'ON';
      position: absolute;
      top: 15px;
      left: 30px;
      font-size: large;
      width: 30px;
      height: 30px;
    }

    &::after {
      content: '';
      background-image: repeating-linear-gradient(
        -30deg,
        #ffc8c8,
        #fff 2px,
        transparent 0,
        transparent 4px
      );
      width: 60px;
      height: 20px;
      position: absolute;
      bottom: 10px;
      left: 10px;
      mix-blend-mode: multiply;
    }
  }
}

// 底色标题
.fn-tl_bc_1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(194, 37, 35);
  padding: 15px 15px 10px;
  color: #fff;

  & > em {
    text-align: center;
    font-size: 16px;
  }
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;

    label {
      margin: 5px 20px;
    }

    & > i {
      display: flex;
      align-items: center;
      width: 30px;
      height: 1px;
      background: #fff;
      position: relative;

      &:before,
      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background: #fff;
        display: block;
        position: absolute;
      }

      &:nth-child(1) {
        &:before {
          top: -5px;
          left: 5px;
        }
        &:after {
          top: 5px;
          left: 5px;
        }
      }

      &:nth-child(3) {
        &:before {
          top: -5px;
          left: -5px;
        }
        &:after {
          top: 5px;
          left: -5px;
        }
      }
    }
  }
}

.fn-tl_bc_10 {
  & > .m-tl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ef5036;
    padding: 5px;
    color: #f5e6d3;
    font-size: x-large;

    &::before,
    &::after {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #f5e6d3;
      display: inline-block;
      content: '';
    }
  }

  & > .m-bd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fcf5ec;
    padding: 60px 0px 20px 0px;
    font-size: 70px;
    font-weight: bold;
    color: #f00;
    position: relative;

    &::before {
      content: '年会倒计时';
      font-weight: normal;
      font-size: 20px;
      color: black;
      position: absolute;
      top: 30px;
    }

    &::after {
      content: '天';
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #f00;
      color: #fcf5ec;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: normal;
      margin-left: 10px;
    }
  }
}

// 符号标题
.fn-tl_sy_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  em {
    font-size: 18px;
    padding: 0 20px;
  }

  i {
    width: 70px;
    background: rgb(127, 161, 191);
    height: 2px;
    position: relative;

    &:nth-child(1) {
      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        border: 2px solid rgb(127, 161, 191);
        left: -12px;
        top: -5px;
      }
    }

    &:nth-child(3) {
      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        border: 2px solid rgb(127, 161, 191);
        right: -12px;
        top: -5px;
      }
    }
  }
}

.fn-tl_sy_10 {
  & > .m-bd {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 15px;
    font-weight: bold;
    color: #707070;

    &::before {
      content: '';
      width: 25px;
      height: 25px;
      background-color: #2ac477;
      margin-right: 10px;
    }

    &::after {
      content: '';
      width: 15px;
      height: 15px;
      background-color: #99ea87;
      position: absolute;
      top: 30px;
      left: 30px;
    }
  }
}

/*--- 卡片 ---*/
// 基本卡片
.fn-cd_bs_1 {
  font-size: 12px;
  line-height: 1.8;
  padding: 10px 5px;
}

.fn-cd_bs_2 {
  padding: 20px 5px 10px;
  background: #fff;
  position: relative;

  & > label {
    position: absolute;
    top: 9px;
    left: 30px;
    color: #ff6600;
    background: #fff;
    padding: 0 5px;
  }

  & > em {
    display: block;
    background: #eee;
    padding: 15px 10px 10px;
  }
}

.fn-cd_bs_10 {
  width: 80%;
  height: 60px;
  outline: 1px solid #000;
  outline-offset: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  margin: auto;
}
// 框线卡片
.fn-cd_li_1 {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 10px 5px;
  background-color: rgb(240, 244, 255);
  outline: 1px dashed rgb(79, 109, 155);
  outline-offset: -12px;

  & > .m-tl {
    font-size: 16px;
    color: rgb(79, 109, 155);
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 109, 155);
    margin-bottom: 10px;
  }
  & > .m-bd {
    display: flex;
    flex-direction: column;
    counter-reset: line;

    & > li {
      font-size: 14px;
      text-align: justify;
      position: relative;
      text-indent: 20px;

      &:before {
        counter-increment: line;
        content: counter(line);
        display: inline;
        margin-right: 32px;
        font-size: 28px;
        font-weight: bold;
        color: #4f6d9b;
        margin-left: -20px;
      }

      &:after {
        content: '';
        position: absolute;
        left: 30px;
        top: 20px;
        display: block;
        height: 0;
        width: 0;
        border: 6px solid transparent;
        border-left: 10px solid #4f6d9b;
      }
    }
  }
}

.fn-cd_li_10 {
  padding: 30px;
  border-left: 1px solid rgb(222, 56, 56);
  border-right: 5px solid rgb(222, 56, 56);
  border-top: 1px solid rgb(222, 56, 56);
  border-bottom: 5px solid rgb(222, 56, 56);

  & > .m-bd {
    counter-reset: line;
    text-align: justify;
    display: flex;
    flex-direction: column;
    position: relative;

    & > li {
      margin-bottom: 15px;
      position: relative;
      padding: 0 0 0 40px;
      &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        counter-increment: line;
        content: counter(line);
        height: 30px;
        border-radius: 50%;
        color: white;
        background-color: rgb(222, 56, 56);
        position: absolute;
        top: 0;
        left: 0;
        margin-right: 10px;
      }
    }
  }
}
// 底色卡片
.fn-cd_bc_1 {
  background-color: rgb(240, 248, 240);
  margin: 30px 10px 10px;
  padding: 30px;
  color: #333;
  letter-spacing: 1px;
  text-align: justify;
  position: relative;

  & > i {
    font-size: 20px;
    font-style: normal;
    position: absolute;
    background: rgb(109, 167, 149);
    border-radius: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    top: -15px;

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      background: #6da795;
      position: absolute;
      display: block;
      right: -22px;
      border-radius: 20px 0 20px 0;
      top: 4px;
    }
    &:after {
      content: '';
      width: 8px;
      height: 9px;
      background: #6da795;
      position: absolute;
      display: block;
      right: -8px;
      border-radius: 10px 0 10px 0;
      top: -7px;
    }
  }
}

.fn-cd_bc_10 {
  position: relative;

  & > .m-tl {
    background-image: linear-gradient(#fff, #e2e1ff);
    margin-left: 20px;
    padding: 15px;

    & > label {
      background-color: #bfb3e6;
      color: #fff;
      font-weight: bold;
      padding: 10px;
      margin-top: 30px;
    }

    & > .m-bd {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      padding: 30px;
    }

    &::before {
      width: 30px;
      height: 70px;
      content: '';
      background: #d1b8e7;
      position: absolute;
      bottom: 0px;
      left: -10px;
    }
  }
}

// 底纹卡片
.fn-cd_pa_1 {
  background: rgb(109, 167, 149);
  background-image: repeating-linear-gradient(
    30deg,
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 100%, 0.1) 15px,
    transparent 0,
    transparent 30px
  );
  color: #fff;

  & > i {
    background: #9eed1e;

    &:before,
    &:after {
      background: #9eed1e;
    }
  }
}

.fn-cd_pa_10 {
  & > div {
    border-bottom: 8px solid #775fff;
    padding: 50px;
    position: relative;
    background-image: repeating-linear-gradient(
      -45deg,
      white,
      #f8f7fe 5px,
      transparent 0,
      transparent 15px
    );

    &::before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      content: '';
      background-color: #775fff;
      position: relative;
      bottom: -20px;
      left: -20px;
    }
  }
}

// 对话/问答
.fn-cd_qu_1 {
  margin: 10px;

  .m-q {
    background: rgb(255, 247, 240);
    color: rgb(154, 27, 36);
    text-align: justify;
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 50px;

    &:before {
      content: 'Q';
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      background: #ff0000;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
    }

    &:after {
      content: '';
      width: 0;
      height: 0;
      display: block;
      border: 6px solid transparent;
      border-left: 6px solid #ff0000;
      transform: rotate(-135deg);
      position: absolute;
      left: 0;
      bottom: -6px;
    }
  }

  .m-a {
    padding: 10px 10px 10px 50px;
    margin: 30px 0 0 0;
    text-align: justify;
    border: 1px solid #ff0000;
    position: relative;

    &:before {
      content: 'A';
      font-size: 16px;
      font-weight: bold;
      color: rgb(154, 27, 36);
      background: rgb(255, 247, 240);
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.fn-cd_qu_10 {
  background-color: #f1f5fd;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;

  & > .m-q,
  & > .m-a {
    padding: 10px 10px 10px 50px;
    position: relative;
    left: 10px;
    display: flex;
    margin-right: 20px;
    text-align: justify;
  }

  & > .m-q {
    color: #749fef;

    &::before {
      content: '问';
      width: 30px;
      height: 30px;
      background-color: #749fef;
      color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      right: 0;
    }
  }

  & > .m-a {
    &::before {
      content: '答';
      width: 30px;
      height: 30px;
      background-color: #ffc32e;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: absolute;
      left: 0;
      right: 0;
    }
  }
}
// 轴线卡片
.fn-cd_ax_1 {
  margin: 10px;

  & > .m-ax {
    display: flex;
    flex-direction: column;

    & > .m-tl {
      background: linear-gradient(45deg, #fff, #d5ebe7, #d5ebe7, #fff);
      padding: 6px 20px 6px 10px;

      & > em {
        font-size: 18px;
        color: rgb(147, 198, 188);
      }

      & > label {
        color: rgb(147, 198, 188);
        display: inline-block;
        padding: 0 10px;
        margin-left: 10px;
        position: relative;

        &:before {
          content: '';
          height: 14px;
          width: 1px;
          background: #ff6600;
          display: block;
          position: absolute;
          left: -3px;
          top: 3px;
        }
      }
    }

    & > .m-bd {
      padding: 20px;
      border-left: 1px dashed #d5ebe7;
      margin-left: 20px;
      color: #666;
    }
  }
}

.fn-cd_ax_10 {
  padding: 20px;

  & > .m-tl {
    width: 25px;
    height: 25px;
    background-color: #ffcf55;
    border-radius: 50%;
    padding: 5px;
    color: white;
    font-style: normal;
    position: relative;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      left: -30px;
      bottom: 10px;
      top: 0;
      width: 100%;
      border-bottom: 1px solid black;
      transform: rotate(-60deg);
    }

    &::after {
      content: '';
      position: absolute;
      left: 30px;
      bottom: 10px;
      top: 10px;
      width: 100%;
      border-bottom: 1px solid black;
      transform: rotate(120deg);
    }
  }

  & > .m-bd {
    margin-top: 10px;
    padding: 0 10px 0 35px;
  }
}

/*--- 图片 ---*/
// 基础图片
.fn-im_bs_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;

  img {
    width: 100%;
    outline: 1px solid #ccc;
    outline-offset: 10px;
  }
}

.fn-im_bs_10 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;

  img {
    width: 100%;
    box-shadow: 0 0 10px #ccc, -3px 0 10px #ccc;
  }
}

// 单图
.fn-im_on_1 {
  display: flex;

  .m-img {
    position: relative;
    margin: 40px 20px;

    img {
      max-width: 100%;
    }

    & > em {
      position: absolute;
      right: -10px;
      bottom: -10px;
      height: 70px;
      width: 70px;
      border-right: 1px solid #333;
      border-bottom: 1px solid #333;
    }
  }
}

// 双图
.fn-im_tw_1 {
  display: flex;
  flex-direction: column;
  margin: 10px;

  & > .m-bd {
    display: flex;

    .m-img {
      & + .m-img {
        margin-left: 10px;
      }
      img {
        flex: 1;
        max-width: 100%;
      }
    }
  }
}

// 三图
.fn-im_th_1 {
  margin: 10px;
  background: rgb(240, 251, 255);
  padding: 20px;

  & > em {
    padding: 8px 25px;
    background: #ff6600;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
  }

  & > .m-img {
    display: flex;
    margin-bottom: 10px;

    &:nth-child(2) {
      & > img {
        max-width: 100%;
        flex: 1;
      }
    }

    &:nth-child(3) {
      & > img {
        max-width: calc(50% - 5px);
        flex: 1;

        & + img {
          margin-left: 10px;
        }
      }
    }
  }
}

// 多图
.fn-im_mu_1 {
  margin: 10px;
  background: rgb(240, 251, 255);
  padding: 20px;

  & > em {
    padding: 8px 25px;
    background: #ff6600;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
  }

  & > .m-img {
    display: flex;
    margin-bottom: 10px;

    & > img {
      max-width: calc(50% - 5px);
      flex: 1;
      & + img {
        margin-left: 10px;
      }
    }
  }
}

// 圆形图
.fn-im_ci_1 {
  margin: 10px;

  & > img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }

  & > em {
    margin-left: 20px;
    display: inline-block;
    padding: 2px 10px;
    background: #21a557;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }
  & > label {
    display: inline-block;
    margin: 0 0 0 20px;
    color: #21a557;
    border-top: 1px solid #21a557;
    border-bottom: 1px solid #21a557;
    padding: 3px 0;
  }
}

// 背景图
.fn-im_ba_1 {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px 0 0 0;

  & > .m-logo {
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: calc(50% - 40px);
    & > img {
      width: 100%;
      border-radius: 40px;
      height: 100%;
      border: 2px solid #fff;
    }
  }

  & > .m-img {
    display: flex;
    flex-direction: column;
    & > img {
      width: 100%;
      opacity: 0.3;
    }
  }

  & > .m-txt {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    text-align: justify;
    color: #666;
    display: flex;
    justify-content: center;
    padding: 80px 0 0 0;
  }
}

/*--- 布局 ---*/
// 基础布局
.fn-ly_ba_10 {
  border: 2px dashed #91bed6;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  & > div {
    width: 32%;
    height: 45px;
    border: 2px dashed #91bed6;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:empty::before {
      content: '空白处输入文字';
      color: #91bed6;
    }
  }
}

// 组合
.fn-ly_gr_10 {
  & > .m-ft {
    width: 80%;
    padding: 5px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    outline: 1px dashed #91bed6;
    outline-offset: -15px;
    background-color: #f5f5f5;
    margin: auto;
    margin-top: 15px;
    padding: 20px;
  }
}

// 表格

// 上下滑动

// 左右滑动

// 自由布局

/*--- 组件 ---*/
// 分割线
.fn-co_sp_10 {
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    margin: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffd05a;
    position: relative;

    &::before,
    &::after {
      content: '';
      background-color: #91c8f3;
      width: 100px;
      display: block;
      height: 1px;
      position: absolute;
      top: 10px;
    }

    &::before {
      left: -120px;
    }

    &::after {
      right: -120px;
    }
  }
}
// 分隔符
.fn-co_spls_10 {
  display: flex;
  justify-content: center;

  & > div {
    width: 60px;
    height: 70px;
    background-image: linear-gradient(to right, #597ade, #3d99eb);
    border-radius: 50% 50% 0 0;

    & > div {
      position: relative;
      top: 50%;
      left: 50%;
      transform: skewX(-10deg);

      &::before {
        top: 50%;
        content: '';
        position: absolute;
        margin-top: -1.5em;
        margin-left: -0.75em;
        border-top: 1em solid transparent;
        border-right: 0.5em solid white;
        border-bottom: 1em solid white;
        border-left: 0.5em solid transparent;
      }

      &::after {
        content: '';
        position: absolute;
        margin-left: -0.25em;
        border-top: 1em solid white;
        border-right: 0.5em solid transparent;
        border-bottom: 1em solid transparent;
        border-left: 0.5em solid white;
      }
    }
  }
}

// 贴纸
.fn-co_st_10 {
  margin: auto;
  padding: 5px;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid #edeceb;
    color: #edeceb;
    width: 130px;
    height: 150px;
    font-weight: bold;
    font-size: 80px;
  }
}
// SVG贴纸
// 关注原文
.fn-co_fo_10 {
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    margin: 15px;
    position: relative;
    background-color: #eff4ff;
    padding: 10px;
    font-weight: bold;

    &::before,
    &::after {
      content: '';
      background-color: #f00;
      width: 8px;
      display: block;
      height: 15px;
      position: absolute;
    }

    &::before {
      top: -5px;
      left: -20px;
    }

    &::after {
      right: -20px;
    }
  }
}
// 公众号组件
// 二维码
.fn-co_qr_10 {
  & > .m-tl {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    font-size: large;

    & > div {
      border-radius: 50%;
      margin: 10px;
    }

    & > :nth-child(3n + 1) {
      width: 30px;
      height: 30px;
      background-color: #ffcc5b;
    }

    & > :nth-child(3n + 2) {
      width: 30px;
      height: 30px;
      background-color: #acc180;
    }

    & > :nth-child(3) {
      width: 10px;
      height: 10px;
      background-color: #ffcc5b;
      margin: 10px;
    }
  }

  & > .m-bd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::after {
      content: 'SPRING COMING';
      color: #acc180;
      display: flex;
      justify-content: center;
      font-size: x-large;
    }
  }

  & > .m-ft {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & > :nth-child(1) {
      em {
        font-size: large;

        &:nth-child(1) {
          font-weight: bold;
        }
      }
    }

    & > :nth-child(2) {
      em {
        font-size: large;

        &:nth-child(1) {
          font-weight: bold;
        }
      }
    }
  }
}
// 零件
.fn-co_pa_10 {
  display: flex;
  justify-content: center;

  & > i {
    font-style: normal;
    position: relative;
    background-color: #eff4ff;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      border: 5px solid transparent;
    }

    &::before {
      left: -25px;
      border-left: 10px solid #fb8581;
    }

    &::after {
      right: -25px;
      border-right: 10px solid #84b4ee;
    }
  }
}

// 组件
